

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:wght@100;200;300;500&display=swap');

* {
  margin: 0 auto;
}

#logo {
  width: 268px;
  height: auto;
}
.drop-menu {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  width: 252px;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: brown; */
  font-family: roboto;
  font-size: 15px;
  line-height: 30px;
  color: #ababab;
}

nav {
  height: 100%;
  width: 252px;
}

li {
  list-style: none;
}
header {
  display: flex;
  height: 70px;
  height: 100%;
  justify-content: space-around;
  align-content: centre;
}
.menu-item:hover {
  color: #00b39b;
}

.menu-item:hover .drop-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 2px 2px rgb(15, 14, 14);
  width: 220px;
  height: 220px;
  margin-left: -170px;
}

.drop-menu-item {
  color: #ababab;
  width: 100%;
  height: 100%;
  margin-left: -40px;
  padding: 0px 20px;
}

.drop-menu-item:hover {
  background-color: #ebe1e1;
  color: #00b39b;
}
.drop-menu {
  position: absolute;
}

#paragraph-container {
  display: flex;
  justify-content: space-between;
  font-family: roboto;
  color: #747474;
  margin: 100px;
  font-size: 16px;
  line-height: 28px;
}

#paragraph-container p {
  width: 477px;
}
#section1 {
  display: flex;
  flex-direction: column;
  margin: 100px;
}
#section1 img {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 40px;
  width: 40px;
}

#section1 h1 {
  font-family: work sans;
  font-size: 34px;
  line-height: 44px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #00b39b;
  
}

#section2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#section2 div {
  width: 311px;
height: 345px;
display: flex;
flex-direction: column;
margin: 20px;
border-radius: 10px;

}

#greencard {
  background-color: #00ccb1;
}
#bluecard {
  background-color: #3d83df;
}
#blackcard {
  background-color: #1b2734;
}